n8n-worflows/gmx_send.json
{
  "name": "Chanti → GMX Mail-Versand",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chanti-mail",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "chanti-mail"
    },
    {
      "parameters": {
        "fromEmail": "DEINE_ADRESSE@gmx.de",
        "toEmail": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body.body }}",
        "options": {}
      },
      "id": "smtp-node",
      "name": "Send via GMX",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 300],
      "credentials": {
        "smtp": {
          "id": "GMX_SMTP_CREDENTIAL_ID",
          "name": "GMX SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, company: $('Webhook').item.json.body.company_name } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Send via GMX", "type": "main", "index": 0 }]]
    },
    "Send via GMX": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
